<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColleagueTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="ColleagueTracker" type="ColleagueTracker.ColleagueTrackerConfig, ColleagueTracker" />
    </configSections>

  <ColleagueTracker LdapPath="LDAP://DC=department,DC=company,DC=com">
    <Teams >
      <Team name="Team1" managers="manager1,manager2,manager3"/>
      <Team name="Team2" managers="manager4,manager5,manager6"/>
    </Teams>
  </ColleagueTracker>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>